@import '@style';

.FileField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  min-height: 168px;
  border-radius: 12px;
  border: 2px dashed $transparent-white;
  background-color: $transparent-white-background;
  color: $transparent-white;
  &__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  @media (min-width: $tablet-width){
    max-width: 540px;
  }
}