@import '@style';

.FileField {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 320px;
  min-height: 168px;
  border-radius: 12px;
  border: 2px dashed $transparent-white;
  background-color: $transparent-white-background;
  color: $transparent-white;
  &__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__uploaded-file {
    .FileField__preview {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: 2px solid $active-color;
      height: 96px;
      width: 96px;
      .FileField__image-preview {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        border-radius: 100%;
      }
    }
    .FileField__remove-button {
      background: none;
      border: none;
      outline: none;
      color: red;
      border-radius: 100%;
      width: 24px;
      height: 24px;
      .FileField__remove-icon {
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }
  @media (min-width: $tablet-width){
    max-width: 540px;
  }
}