@import '@style';

.Button {
  border: none;
  background-color: $button-color;
  color: $text-white;
  padding: 16px 12px;
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  min-height: 56px;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  &:disabled {
    
  }
}