@import '@style';

.InputIcon {
  width: 48px;
  height: 48px;
  background: none;
  color: $transparent-white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  &__icon {
    color: $transparent-white;
  }
}