$button-color: #9810fa;
$text-white: #ffffff;
$foter-color: #020004;
$active-color: #ad6de4;
$text-purple: #d6aefa;
$transparent-white: rgba(#ffffff, 0.2);
$transparent-white-background: rgba(#ffffff, 0.05);
$grey: #bfbfbf;