@import '@style';

.Footer {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  max-width: 100%;
  min-height: 56px;
  border-top: 1px solid transparent;
  border-image: linear-gradient(to right, black, 70%, #1c1c1c) 1;
  &__navigation {
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    color: $grey;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    .Footer__text{
      font-family: inherit;
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      gap: 2px;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $text-white;
      }
    }
  }
  @media (min-width: $tablet-width) {
    .Footer__text {
      flex-direction: row;
      gap: 8px;
    }
  }
}