@import '@style';

.Footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
  max-width: 100%;
  height: 56px;
  &__navigation {
    display: flex;
    flex-grow: 1;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    color: $grey;
    background: none;
    outline: none;
    border: none;
    height: 100%;
    .Footer__text{
      font-family: inherit;
      display: flex;
      flex-grow: 0;
      gap: 8px;
      align-items: center;
      justify-content: center;
      &:hover {
        color: $text-color;
      }
    }
  }
}