@import '@style';

.InputField {
  display: flex;
  flex-direction: row;
  border: 1px solid rgba($text-color, 0.2);
  background-color: rgba($text-color, 0.1);
  border-radius: 12px;
  width: 100%;
  max-width: 320px;
  height: 56px;
  align-items: center;
  justify-content: center;
  &__input {
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
    gap: 4px;
    width: 100%;
    height: 24px;
    color: $text-color;
    &::placeholder {
      color: rgba($text-color, 0.2);
    }
  }
  @media (min-width: $tablet-width){
    max-width: 540px;
  }
}